<div class="well">
    {{#if this.length }}
        {{#with this.[0] }}
            <div class="h3">{{ name }}</div>
            <p>{{ dimensions }}</p>
        {{/with}}
    {{else}}
        <div class="h4">Sorry, no results found</div>
    {{/if}}
</div>
