%html
  %head
    %title Simplex Mobility searcher

    - @manifest.each do |name, path|
      - if name.end_with?('.css')
        %link{rel: 'stylesheet', href: "assets/css/#{path}"}
      - if name.end_with?('.js')
        %script{type: 'text/javascript', src: "assets/js/#{path}"}
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand Simplex Mobility searcher
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: 'https://puppydev.com/'} By Artemiy Solopov
          %li
            %a{href: 'https://bitbucket.org/art-solopov/simmob_pa_searcher'} Repo
    .container
      %form#search_form
        .row
          .form-group
            %label{for: 'q[search]'} Search across mobile phone names and manufacturers
            %input#q_search.form-control{name: 'q[search]', type: 'text'}
          .form-group.fb-auto
            %input{type: 'submit', value: 'Search', class: 'btn btn-primary'}
      .row
        .col-sm-12
          #value.text-center
            

    %template#value_template
      = erb :_value
